<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubs Page - Task 1</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <p><b>Add new Club</b></p>
    <form action="/createclub" method="POST">
      <div class="form-group">
        <label for="clubname"><b>Enter Club Name</b></label>
        <input
          class="form-control"
          id="clubname"
          name="clubname"
          placeholder="Please enter club name"
        />
      </div>
      <div class="form-group">
        <label for="clubdesc"><b>Enter Club Desc</b></label>
        <textarea
          class="form-control"
          id="clubdesc"
          name="clubdesc"
          rows="3"
          placeholder="Please enter club desc"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="clubcategory"><b>Select Club Category</b></label>
        <select class="form-control" id="clubcategory" name="clubcategory">
          <option>--Select--</option>
          <option>Music</option>
          <option>Dance</option>
          <option>Animation</option>
          <option>Coding</option>
          <option>Literature</option>
        </select>
      </div>
      <input type="checkbox" name="visibility" value="public" />Do you want to
      make it public?
      <br />
      <button type="submit" class="btn btn-primary">Create Club</button>
    </form>
    {% if message%}
    <p>{{message}}</p>
    {%endif%}
    <br />
  </body>
</html>
